{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h3>Choisir l'atelier concerné</h3>
        <div class="list-group">
            {% for atelier in ateliers %}
                <a href="{{ path('user_choisir_vacation', {'idAtelier' : atelier.id }) }}" class="list-group-item list-group-item-action">{{ atelier.libelle }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
