{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    {% for atelier in ateliers %}
        <a href="{{ path('choisir_vacation', {'idAtelier' : atelier.id }) }}">{{ atelier.libelle }}</a><br>
    {% endfor %}
{% endblock %}
