{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div>
        <div id="fond-baniere">
            <img id="baniere" src='{{ asset('images/fond.jpg') }}'>
        </div>
    </div>
    <div class="card text-white bg-warning mb-3">
        <div class="card-header">Infos :</div>
        <div class="card-body">
            <h5 class="card-title">6eme assises d'escrime</h5>
            <p class="card-text">Dates : samedi 7 et dimanche 8 septembre 2024. Possibilité de réserver l'hôtel à partir du vendredi 6 septembre.</p>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h3>Formules d'hébergement</h3>
                <h5>Ibis Budget Lille Gares Vieux-Lille</h5>
                <p>Tarifs négociés :</p>
                <ul>
                    <li>Single : 95€ la nuit</li>
                    <li>Double : 105€ la nuit</li>
                </ul>
            </div>
            <div class="card-body">
                <h5>Ibis Budget Lille Gares Vieux-Lille</h5>
                <p>Tarifs négociés :</p>
                <ul>
                    <li>Single : 70€ la nuit</li>
                    <li>Double : 80€ la nuit</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Restauration</h3>
                <p>Tarif repas:</p>
                <ul>
                    <li> 38€ le repas</li>
                </ul>
                <p>Possibilités</p>
                <ul>
                    <li>Samedi midi</li>
                    <li>Samedi soir</li>
                    <li>Dimanche midi</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3>Les Ateliers</h3>
                <ul>
                {% for atelier in ateliers %}
                    <li>{{ atelier.getLibelle() }}</li>
                {% endfor %}
                </ul>
            </div>
    </div>
    </div>
        
{% endblock %}
