#baniere {
    display: block;
    margin: auto;
}
#fond-baniere{
    background-color: #2199e8;
}

#logo{
    display: block;
    margin: auto;
}

.navbar-light {
    background-color: #2199e8 !important;
    border: none !important;
    border-width:0!important;
}