{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h3>Liste des Vacations</h3>
        <div class="list-group">
            {% for vacation in vacations %}
                <a href="{{ path('user_add_vacation', {'idVacation': vacation.id }) }}" class="list-group-item list-group-item-action">
                    {{ vacation.getDateHeureDebut()|date('Y-m-d H:i:s') }} - {{ vacation.getDateHeureFin()|date('Y-m-d H:i:s') }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}