{% extends 'base.html.twig' %}

{% block body %}
    <p>Bonjour, {{ user.getLicencie().getNom() }} {{ user.getLicencie().getPrenom() }} <p>
    <p>Votre inscription a bien étée mise en attente. </p>
     <div>
        Ateliers choisis :
        <ul>
        {% for atelier in ateliers %}
            <li>{{ atelier.getLibelle() }}</li>
        {% endfor %}
        </ul>
    </div>
    <p>Votre total est : {{ total }}</p>
{% endblock %}