{% extends 'base.html.twig' %}

{% block body %}
    <p> Bonjour, {{ licencie.nom }} {{ licencie.prenom }} <p>
    <p> Merci pour votre inscription au congrés !</p>
    <div>
        Ateliers choisis :
        <ul>
        {% for atelier in ateliers %}
            <li>{{ atelier.getLibelle() }}</li>
        {% endfor %}
        </ul>
    </div>
    <p>Votre total est : {{ total }}</p>
{% endblock %}